{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LITReview</title>
  </head>
  <body>
    <div class="header">
      <h1 class="logo">LIT<span>Review</span></h1>
      {% if user.is_authenticated %}
      <ul class="navbar">
        <li><a class="pretty-a" href="/flux">Flux</a></li>
        <li><a class="pretty-a" href="/posts/my_posts/">Mes Posts</a></li>
        <li><a class="pretty-a" href="/abonnement/">Abonnements</a></li>
        <li><a class="pretty-a" href="{% url 'logout' %}">Se déconnecter</a></li>
      </ul>
      {% endif %}
    </div>

    <div id="content" , name="content" , class="main">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
