{% extends 'base.html' %} {% block content %}
{% if user.is_authenticated %}
    {% comment %} <h4> Utilisateurs non suivis :</h4>
    {%for unfollowed_user in unfollowed%}
            <li>{{unfollowed_user}}</li>
    {% endfor %} {% endcomment %}

    <h3>{{message}}</h3>
        <h4>Suivre d'autres utilisateurs</h4>
        <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn" type="submit" value="Suivre">
    </form>

    


    <h4> Abonnements : </h4>
    {%for followed_user in followed%}
        {% if user != followed_user %}
            <p>
            {{followed_user}}
                <a class="pretty-a"
                    onclick="location.href='{% url 'unsubscribe' user_to_unfollow_id=followed_user.pk %}'"
                    type="button">
                    Ne plus suivre
                </a>
            </p>
        {% endif %}
    {% endfor %}

        <h4> Abonnés : </h4>
        {%for follower_user in followers%}
        {% if user != follower_user %}
            <p>{{follower_user}}</p>
        {% endif %}
    {% endfor %}

{% comment %} </form> {% endcomment %}
{% endif %}
{% endblock content %}
