{% extends 'navbar.html' %}

{% block content %}
  {% comment %} <h2>Flux</h2>
  <a href="{% url 'write_ticket' %}"> Demander une critique </a>
  <a href="{% url 'self_resolved' %}"> Créer une critique </a> {% endcomment %}
  <ul>
      {% if message %}
      <h4> {{message}} </h4>
    {% endif %}

  {% if articles %}
    {% for article in articles %}
        {% comment %} If its a Ticket & not a review {% endcomment %}
      {% include "ticket_display.html" %}
      {% endfor %}
  {% endif %}
</ul>
{% endblock %}
