{% extends 'navbar.html' %}

{% block content %}
<div class="container">
<h4>{{ message }} une critique :</h4>
<div  class="Ticket">
          Ticket n°{{ticket.id}} - {{ticket.user}}
            <h4> {{ticket.title}} </h4>
        <p>
            {{ticket.description}}
        </p>
             {% if ticket.image.url is not none%}
        <img class = "ticket-img" src="{{ ticket.image.url }}"/>
        {% else %}
        <img class = "ticket-img" src="/images/litreview_defaultimage.png"/>
        {% endif %}
          <form method="POST" action="{% url 'write_review' id_article=ticket.id %}">
         {% csrf_token %}
    {{ form }}
    <input class="btn" type="submit">
    </form>
  </div>
{% endblock %}
